body {
    font-family: Montserrat;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

p {
    font-size: 12px;
}

.container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;

}


label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background: #4e75ff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input {
    width: 270px;
    padding: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #808080;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
    margin-left: 30px;

}

.gallery-item img {
    width: 100%;
    height: 200px;
}

.gallery-item {
    width: calc((100% - 48px) / 5);
    border: 1px solid #808080;
}

.image-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-label {
    font-weight: bold;
}

.block-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.load-more-btn {
    margin: 30px 0;
}